h2{
    font-family: 'Poppins' ;
    font-size: 32px;
    text-align: center;
}
table{
    table-layout: fixed;
    width: 80%;
    align-self: center;
    border-collapse: collapse;
    border: 2px solid rgb(240, 233, 233);
    text-align: center;
}
th{
    padding: 10px;
    border: 2px solid rgb(240, 233, 233);
}
td{
    padding: 10px;
    border: 2px solid rgb(240, 233, 233);
}
footer{
    margin-bottom: 0px;
}
